/*productos*/

.tituloProductos {
    color: gray;
    text-align: center;
    font-weight: bold;
    padding: 16px;
  
    h2 {
      font-size: 45px;
    }
  }
  
  h1 {
    font-size: 55px;
    font-family: monospace;
  }
  
  h4 {
    font-family: monospace;
  }
  